body {
  font-family: "Roboto", sans-serif;
}
.parent {
  background-size: contain;

  background-repeat: repeat;
}

.wrap {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.title {
  padding-top: 16px;
  padding-left: 16px;
}
.h1-title {
  font-weight: bold;
  font-size: 40px;
  color: #2b2e73;
  line-height: 47px;
}
.h3-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 0 58px;
  /* identical to box height */

  text-align: center;

  /* параграф */

  color: #626465;
}
.logo {
  width: 65px;
  height: 32px;
}
.inner {
  display: flex;
}

.form {
  padding: 0 104px 44px 104px;
}

.input {
  width: 304px;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem - 3px);
}
.btn-reg {
  width: 304px;
  height: 40px;
}

.bottom-text {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}
.bottom-text span {
  font-size: 16px;
  line-height: 19px;

  /* параграф */

  color: #626465;
}

.form-check a {
  font-size: 16px;
  line-height: 19px;

  /* Основной цвет */

  color: #7fc485;
}
.a-text {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  /* Основной цвет */

  color: #7fc485;
}

.far,
.fab {
  font-size: 28px;
}

.side-bar {
  height: 100vh;
  display: flex;

  width: 5.5rem;
  flex-direction: column;
  flex-shrink: 0;
  background: #7fc485;
  justify-content: space-between;
  __icon {
    display: flex;
  }
}
.main-field {
  display: grid;
  // grid-template-rows: repeat(2, 3fr);
  grid-template-columns: repeat(2, auto);

  gap: 30px;
}
.chat-list {
  max-width: 440px;
}

.chat-list__title {
}
.form-select {
  width: 110px;
}
.input-group {
  width: 220px;
}
.form-select {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  /* Цвет заголовков */

  color: #2b2e73;
}
.card-body {
  border-radius: 12px;
  padding: 32px;
}
